@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    border: 1px solid black;
}


.centered{
    text-align: center;
}


body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;    
}

img{
    width: 400px;
    padding: 20px;
    border: blue dotted 5px;
    border-top: black solid 10px;
    margin: 40px;
    border-radius: 268px;
}

nav{
    background-color: orange;
    padding: 40px;
}

nav a{
    color: black;
    padding: 10px 40px 20px;
    /* padding-top: 10px;
    padding-left: 20px; */
    margin: 10px;
    background-color: limegreen;
    text-decoration: none;
}