    body{
      background-color: aliceblue;      
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    nav{
      display: flex;
    }
    nav a{
      display: block;
      padding: 1rem;
      border: 2px black solid;
      text-decoration: none;      
      color: white;
      background-color: grey;
    }
